@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Work+Sans:wght@300;600&display=swap');
/* Removes margins from the header and sets sizes of the boxes */
* {box-sizing: border-box;
   margin:0;
}
.landing-page-header {
   background-color: #DFBD69;
   overflow: hidden;
   font-family: 'Rowdies', cursive;
   color: #611CA9;
   width: 100%;
}
 
/* Styles the social media icons in the header bar */
.landing-page-header a {
   color: #611CA9;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
/* Styles the navigation bar */
.landing-page-menu {
   background-color: #000000;
   overflow: hidden;
   font-family: 'Rowdies', cursive;
   color: #611CA9;
   width: 100%;
}
/* Styles the links inside the navigation bar */
.landing-page-menu a {
   float: left;
   color: #611CA9;
   text-align: center;
   padding: 10px 16px;
   text-decoration: none;
   font-size: 17px;
}
/* Changes the link to purple on hover */
.landing-page-menu a:hover {
   background-color: #611CA9;
   color: #DFBD69;
}
/* Makes the active/current link purple */
.landing-page-menu a.active {
   background-color: #611CA9;
   color: #DFBD69;
}
/* Will automatically display the navbar vertically instead of horizontally on screens less than 600 pixels making webpage responsive */
@media screen and (max-width: 600px) {
 
}
/* Sets navbar position */
.navbar a {
   float: none;
   display: block;
}
/* Sets the  position of the icons and their size */
.fa-ul {
   display: inline-flexbox;
   top:0 ;
   font: size 5px;
}
/* Sets the  width of the image. I could not set the margin width to 25% of the users screen so that the logo appears centred*/
.Logo{
    width: 40vw;
    margin-left:35vw;
}
/* Sets the form height*/
.form{
    height: 65%;
}

/* Styles the form inputs*/
input[type=email],[type=text]{
    width: 60%;
    border: 3px solid #DFBD69;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-family: Work Sans;
    font-size: large;
}
/* Styles the text */
.txt{
    font-size: x-large;
    text-align: center;
    font-family: Rowdies;
}
/* Styles the sign up button*/
.sign-up{ 
    width: 30%;
    border: 2px solid #0c0c0c;
    background-color: #DFBD69;
    color: black;
    border-radius: 4px;
    text-align: center;
    font-family: Rowdies;
    font-size: medium;
}
/* Sets the background to lilac*/
body {
    background-color:#B19CD9 ;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#DFBD69;
    color: #000000;
    text-align: left;
    font-family:Rowdies;
}
 
