 
/*  allows me to import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Work+Sans:wght@300;600&display=swap');

/* Removes margins from the header and sets sizes of the boxes */
* {box-sizing: border-box;
  margin:0;
}
/* Styles the header bar */
.landing-page-header {
  background-color: #DFBD69;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #611CA9;
  width: 100%;
}
 /* Styles the social media icons in the header bar */
.landing-page-header a {
  color: #611CA9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Styles the navigation bar */
.landing-page-menu {
  background-color: #000000;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #611CA9;
  width: 100%;
}
/* Styles the links inside the navigation bar */
.landing-page-menu a {
  float: left;
  color: #611CA9;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Changes the link to purple on hover */
.landing-page-menu a:hover {
  background-color: #611CA9;
  color: #DFBD69;
}
/* Makes the active/current link purple */
.landing-page-menu a.active {
  background-color: #611CA9;
  color: #DFBD69;
}
/* Will automatically display the navbar vertically instead of horizontally on screens less than 600 pixels making webpage responsive */
@media screen and (max-width: 600px) {
}
/* Sets navbar position */
.navbar a {
  float: none;
  display: block;
}
/* Sets the  position of the icons and their size */
.fa-ul {
  display: inline-flexbox;
  top:0 ;
  font: size 5px;
}
/* Allows me to have the size and positioning I want*/
.logo{
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #D4B464;;
  width: 40vw;
}
/* styles body header text */
.Font{
  font-family:Rowdies;
  display: block;
  text-align: center;
}
/* styles body text */
.WorkSans{
  font-family:Work Sans;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 90%;
}
/* sets background colour to gold */
.bckgrnd{
  background-color: #D4B464;
}
/* styles video */
.video{
  width: 40vw;
  float: right;
  position:relative;
}
/* The flip card container for Hip-Hop*/
.Hip-hop{
  background-color: transparent;
  width: 295px;
  height: 295px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the front and back of the flip card */
.Hip-hop-inner {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.Hip-hop:hover .Hip-hop-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.Hip-hop-front, .Hip-hop-back{
  position: absolute;
  width: 300px;
  height: 300px;
  -webkit-backface-visibility: hidden; /* needed fot Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.Hip-hop-front{
  background-color: white;
  color: black;
}
/* Styles the back of the card */
.Hip-hop-back{
  background-color:#611CA9;
  color:black;
  transform: rotateY(180deg);
  font-family: "work sans";
}
/* The flip card container for skating*/
.skating{
  background-color: transparent;
  width: 295px;
  height: 320px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the front and back of the flip card */
.skating-inner {
  position: relative;
  width: 300px;
  height: 325px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.skating:hover .skating-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.skating-front, .skating-back{
  position: absolute;
  width: 300px;
  height: 325px;
  -webkit-backface-visibility: hidden; /* needed fot Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.skating-front{
  color: black;
}
/* Styles the back of the card */
.skating-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
}
.right{
  float: right;
  width: 33%;
  padding: 5px 0;
  position: relative;
  top: -90vh;
}
/* The flip card container for basketball*/
.basketball{
  background-color: transparent;
  width: 305px;
  height: 350px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the front and back of the flip card */
.basketball-inner {
  position: relative;
  width: 310px;
  height: 360px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.basketball:hover .basketball-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.basketball-front, .basketball-back{
  position: absolute;
  width: 310px;
  height: 360px;
  -webkit-backface-visibility: hidden; /* needed fot Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.basketball-front{
  color: black;
}
/* Styles the back of the card */
.basketball-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
}
/* The flip card container for street-art*/
.street-art{
  background-color: transparent;
  width: 304px;
  height: 331px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the front and back of the flip card */
.street-art-inner {
  position: relative;
  width: 309px;
  height: 315px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.street-art:hover .street-art-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.street-art-front, .street-art-back{
  position: absolute;
  width: 309px;
  height: 335px;
  -webkit-backface-visibility: hidden; /* needed fot Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.street-art-front{
  color: black;
}
/* Styles the back of the card */
.street-art-back{
  background-color: #611CA9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
}
/* The flip card container for haute-coture*/
.haute-coture{
  background-color: transparent;
  width: 305px;
  height: 365px;
  border: 2px solid #000000;
  perspective: 1000px; /* Gives the 3D effect */
}
/* helps position the front and back of the flip card */
.haute-coture-inner {
  position: relative;
  width: 310px;
  height: 365px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* horizontal flip when mouse hovers over the card */
.haute-coture:hover .haute-coture-inner{
  transform: rotateY(180deg);
}
/* Position the front and back of card */
.haute-coture-front, .haute-coture-back{
  position: absolute;
  width: 310px;
  height: 370px;
  -webkit-backface-visibility: hidden; /* needed fot Safari */
  backface-visibility: hidden;
}
/* Styles the front of the card*/
.haute-coture-front{
  color: black;
}
/* Styles the back of the card */
.haute-coture-back{
  background-color:#B19CD9;
  color:black;
  transform: rotateY(180deg);
  font-family: 'work sans';
}



