/*  allows me to import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Work+Sans:wght@300;600&display=swap');
/* Removes margins from the header and sets sizes of the boxes */
* {box-sizing: border-box;
  margin:0;
}
/* Styles the header bar */
.landing-page-header{
  background-color: #DFBD69;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #611CA9;
  width: 100%;
}
/* Adds a black background to the navigation bar */
.landing-page-menu{
  background-color: #000000;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #ffffff;
  width: 100%;
}
/* Styles the links inside the navigation bar */
.landing-page-menu a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Changes the link to purple on hover */
.landing-page-menu a:hover{
  background-color: #611CA9;
  color: #DFBD69;
}
/* Makes the active/current link purple */
.landing-page-menu a.active{
  background-color: #611CA9;
  color: #DFBD69;
}
  /* Changes the  colour of visited links to dark red to increase the contrast */
  a.links {
    color: #570000;
  }
    /* Changes the  colour of visited links to a blue so it is visible against the background */
  a.links:visited {
    color: #1C1EA9;
    background-color: transparent;
    text-decoration: none;
  }
  /* Changes the  colour of links to light blue on hover to increase contrast */
  a.links:hover {
    color: #05e9dd;
    background-color: transparent;
    text-decoration: underline;
  }
/* Will automatically display the navbar vertically instead of horizontally on screens less than 600 pixels making webpage responsive */
@media screen and (max-width: 600px){
/* Sets navbar position */
     .navbar a{
       float: none;
       display: block;
    }
} 
/* Styles logo */
.logo {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color:#D4B464 ;
}
/* sets left-half of the background to a picture */
.background{
  width: 55%;
  height: 100vh;
  float: left;
}
/* sets  the colour  of the right-half of the background to gold*/
.colour{
  background-color:#D4B464 ;
  width: 45%;
  height: 100vh;
  background-repeat: no-repeat;
  float: right;
  text-align: justify;
}
/* reduces font size and removes image on screens 900px and less */
@media only screen and (max-width:900px){
    .header{
      font-size: 100%;
    }
    .margin{
      font-size: 90%;
    }
    .location{
      font-size: 60%;
      text-align: center;
      
    }
}
/* reduces font size and removes image on screens 600px and less */
@media only screen and (max-width:600px){
  .header{
    font-size: 100%;
  }
  .margin{
    font-size: 80%;
  }
  .location{
    font-size: 70%;
  }
  .background{
    display: none;
  }
  .colour{
    width: 100%;
  }
  .Spiral{
    display: block;
    width: 25%;
  }
}
/* reduces font size on screens 300px and less */
@media only screen and (max-width:300px){
  .header{
    font-size: 110%;
  }
  .margin{
    font-size: 90%;
  }
  .location{
    font-size: 90%;
  }
  .background{
    display: none;
  }
  .colour{
    width: 100%;
  }
  .Spiral{
    display: block;
    width: 20%;
  }
}

/* sets  font and positong of the header*/
.header{
  text-align: center;
  font-family: Rowdies;
}

/* removes the margins and sets font of main text*/
.margin{
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-family: Work sans;
}
/* sets  font and position of location text*/
.location{
  font-family: Rowdies;
  margin-left: 7vw;
  margin-right: 7vw;
}

/* position and size of spiral */
.Spiral{
  display: block;
  margin-left: 20vw ;
  width: 20%;
}
/* styles the footer */   
.footer {
  font-family: 'Rowdies';
  font-size: 15px;
  position: fixed;  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#000000;
  color: #DFBD69;
  text-align: left;
  padding: 0.5%;;
  opacity: 0.7;
}
