/*  allows me to import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Work+Sans:wght@300;600&display=swap');
 
/* Removes margins from the header and sets sizes of the boxes */
* {box-sizing: border-box;
  margin:0;
}
/* Styles the header bar */
.landing-page-header{
  background-color: #DFBD69;
  overflow: hidden;
  font-family:'Rowdies', cursive;
  color: #611CA9;
  width: 100%;
}
/* Adds a black background to the navigation bar */
.landing-page-menu{
  background-color: #000000;
  overflow: hidden;
  font-family:'Rowdies', cursive;
  color: #ffffff;
  width: 100%;
}
/* Styles the links inside the navigation bar */
.landing-page-menu a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Changes the link to purple on hover */
.landing-page-menu a:hover{
  background-color: #611CA9;
  color: #DFBD69;
}
/* Makes the active/current link purple */
.landing-page-menu a.active{
  background-color: #611CA9;
  color: #DFBD69;
}
/* Will automatically display the navbar vertically instead of horizontally on screens less than 600 pixels making the webpage responsive */
@media screen and (max-width: 600px) {
}
/* Sets navbar position */
.navbar a{
  float: none;
  display: block;
}
/* Styles the image */
.img{
  width: 30vw;
  display: block;
  float: left;
  height:100vh;
  margin-left:0;
}
/* Styles the logo */
.logo{
  width: 45vh;
  float:Right;
  margin-right:26vw;
}
/* Styles the table border*/
table, th, td{
  border: 1px solid black;
  font-family:Work sans;
  width:50vw;
 
}
/* changengs the background to gold on hover */
tr:hover{
  background-color:#DFBD69;
}

/* Styles the image */
th{
  background-color: #611CA9;
  color: white;
  font-family: Work sans;
}
/* Styles the table*/
table{
  float: right;
  text-align: center;
  margin:4.5%;
  position: absolute;
  height:40%;
  margin-top: 20vh;
  margin-left: 10vw;
}
/* If there is overflow of text the content will be clippeed but the rest of text is visible*/
.style{
  overflow: auto;
}
/* Styles the text*/
.text{
  position: absolute;
  text-align: justify;
  margin-left:45vw ;
  margin-right: 5%;
  font-family: work sans;
  max-width: 60vw;
  float: right;
  bottom: 8vh;
}
/* Styles the footer */
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#000000;
  color: #DFBD69;
  text-align: left;
  font-family:Rowdies;
  padding: 0.5%;;
  opacity: 0.9;
}
/* Styles the table, text and image on screens 850px and less*/
@media only screen and (max-width: 850px) {
  .img{
    display: none;
  }
  table{
    height:35%;
    margin-top: 20vh;
    margin-left: 25vw;
  }
  .text{
    position: absolute;
    text-align: justify;
    margin-left: 30%;
    font-family: work sans;
    bottom: 8vh;
    font-size: 90%;
  }
}
/* Styles the table, text , logo and image on screens 500px and less*/
@media only screen and (max-width: 500px) {
  .img{
    display: none;
  }
  .logo{
    width: 35vh;
    display: block;
    
  }
  table{
    float: right;
    text-align: center;
    margin:4.5%;
    position: absolute;
    height:35%;
    margin-top: 15vh;
    margin-left: 25vw;
  }
  .text{
    position: absolute;
    text-align: justify;
    margin-left: 30%;
    font-family: work sans;
    bottom: 7vh;
    font-size: 85%;
  }
}
/* Styles the table, text , logo and image on screens 400px and less*/
@media only screen and (max-width: 400px) {
  .img{
    display: none;
  }
  .logo{
    width: 30vh;
    display: block;
    
  }
  table{
    float: right;
    text-align: center;
    margin:4.5%;
    position: absolute;
    height:35%;
    margin-top: 12vh;
    margin-left: 20vw;
  }
  .text{
    position: absolute;
    margin-left: 30%;
    font-family: work sans;
    bottom: 4.5vh;
    font-size: 70%;
  }
}
/* Styles the table, text, logo and image on screens 300px and less*/
@media only screen and (max-width: 300px) {
  .img{
    display: none;
  }
  .logo{
    width: 25vh;
    display: block;
    
  }
  table{
    float: right;
    text-align: center;
    margin:4.5%;
    position: absolute;
    height:10%;
    margin-top: 10vh;
    margin-left: 15vw;
  }
  .text{
    position: absolute;
    margin-left: 30%;
    font-family: work sans;
    bottom: 3vh;
    font-size: 70%;
  }
  .footer{
    font-size: 70%;
  }
}

