/* Allows me to import my chosen fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&display=swap');

/* Removes margins and sets font family*/
* {box-sizing: border-box;
  margin:0;
  font-family: 'Rowdies', cursive
}
/* Adds a gold background color to the header  */
.landing-page-header{
  background-color: #DFBD69;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #611CA9;
  width: 100%;
}
 
/* Adds a black background to the navigation bar */
.landing-page-menu{
  background-color: #000000;
  overflow: hidden;
  font-family: 'Rowdies', cursive;
  color: #ffffff;
  width: 100%;
}
/* Styles the links inside the navigation bar */
.landing-page-menu a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Changes the link to purple on hover */
.landing-page-menu a:hover{
  background-color: #611CA9;
  color: #DFBD69;
}
/* Makes the active/current link purple */
.landing-page-menu a.active{
  background-color: #611CA9;
  color: #DFBD69;
}
/* Will automatically display the navbar vertically instead of horizontally on smaller screens like tablets and mobiles, making the webpage responsive */
@media screen and (max-width: 768px){

   .navbar a{
      float: none;
      display: block;
    }
}
/* on hover the social media icons are opaque*/
.fa:hover {
  opacity: 0.4;
}
/* styles the logo */
.logo{
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
}
/* styles the video, making it the landing page background. The z-index is higher than the picture background so the video will only be visibale on larger screens */
.video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
/* styles the picture, so that it wont be visible on larger  screens */
.smaller-screens{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
  display: none;
}
/* this media query styles the media for smaller screen (600px and less). The imaget wont be visible on larger screens and hides the video on smaller screens. Making the landing page resposive*/
@media only screen and (max-width: 600px) {
  .video{
   display: none;
 }
    .smaller-screens{
     display: block;
   }   
}
/* styles the footer */   
.footer {
  font-family: 'Rowdies';
  position: fixed;  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#000000;
  color: #DFBD69;
  text-align: left;
  padding: 0.5%;
  opacity: 0.7;
}